.chatroom-side{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.chatroom-side:hover{
    background-color: #2423235d;;
}

.chatroom-title{
    text-align:center;
    font-size: 125%;
    word-wrap: break-word;
}

.chatroom-description{
    text-align:center;
    font-size: 13px;
}

.sidebar-add{
    float: right;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-online{
    margin-top: 10px;
}

.room-link{
    text-decoration: none;
    display: block;
}

#chatrooms{
    grid-area: "chatrooms";
    overflow: auto;
}

#side-bottom{
    grid-area: "bottom-bar";
    padding: 10px 10px 10px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#room_name{
    grid-area: room_name;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: white;
    overflow: auto;
    font-size: 30px;
    width: auto;
}

#username{
    position: absolute;
    right: 2vw;
    top: 3vh;
    text-align: right;
    font-size: 30px;
}

.rl-box{
    border: 1px solid rgba(255, 255, 255, 0.07);
    background-color: #0d0d0d;
    color: white;
    font-size: 18px;
    text-align: center;

    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    font-family: 'Courier New';
}

.box{
    height: fit-content;
    width: fit-content;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #0d0d0d;
    box-shadow:  -29px -29px 100px #050505,
                 29px 29px 100px #151515;

    padding: 10px 10px 10px 10px;
    position: relative;

    z-index: 10;
    visibility: hidden;
}

.box-open{
    animation: open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.box-close{
    animation: close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes open{
    from{bottom: 0%; left: 0%;}
    to{bottom: 100%; left: 100%;}
}

@keyframes close{
    from{bottom: 100%; left: 100%;}
    to{bottom: 0%; left: 0%; visibility: hidden;}
}

.submit{
    color: white;
}

.submit:hover{
    background-color: rgb(19, 19, 19);
}

.box, .submit{
    text-align: center;
}

#room-create:hover, #room-close:hover{
    background-color: rgb(19, 19, 19);
}

#mobile-menu-hamburger{
    display: none;
    position: absolute;
    top: 2%;
    left: 0%;
    color: white;
    font-size: 170%;
    z-index: 10;
}

@media (max-width:1150px){
    #room_name{
        text-align:left;
    }
    #username{
        position: absolute;
        top: 6.3%;
        right: 5%;
        text-align: right;
    }

    #chatrooms{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 0%;
        height: 0%;
        background-color: #0d0d0d;
        z-index: 1;
        padding-top: 6%;
    }

    .chatrooms-open{
        animation: chatrooms-open;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    .chatrooms-close{
        animation: chatrooms-close;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    @keyframes chatrooms-open{
        from{
            width: 0%;
            height: 100%;
            display: none;
        }

        to{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    
    @keyframes chatrooms-close{
        from{
            width: 100%;
            height: 100%;
            display: block;
        }

        to{
            width: 0%;
            height: 100%;
            display: none;
        }
    }


    #side-bottom{
        display: none;
    }

    #room_name, #username{
        font-size:18px;
    }

    #mobile-menu-hamburger{
        display: block;
    }
}