*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    background-color: #0d0d0d;
    background: linear-gradient(90deg, rgba(13,13,13,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    
    grid-template-areas: "login" "register";
    grid-template-columns: auto auto;
    overflow: hidden;

    justify-content: center;
    align-content: center;
    gap: 10%;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Courier New';
    margin-top:10px;
}

.rl-box{
    border: 1px solid rgba(255, 255, 255, 0.07);
    background-color: #0d0d0d;
    color: white;
    font-size: 18px;
    text-align: center;

    margin-top: 10px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;

    font-family: 'Courier New';
    
}

.submit{
    margin-left: 20%;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}

.submit:hover{
    background-color: rgb(19, 19, 19);
}

.error{
    color: red;
    text-align: center;
}

#login-box, #register-box{
    height: fit-content;
    width: fit-content;
    border-radius: 22px;
    background: #0d0d0d;
    box-shadow:  -29px -29px 100px #050505,
                 29px 29px 100px #151515;
}

#login-box{
    grid-area: "login";
}

#register-box{
    grid-area: "register";
}

#password{
    margin-top: 30px;
}

form{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

*:focus{
    outline: none;
}


@media (max-width: 768px){
    body{
        grid-template-columns: unset;
        gap: 5%;
        overflow: auto;
    }

    
}
