<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cyborg/bulmaswatch.min.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>You're garbage chat. | Maintenance</title>
    </head>
    <body>
        <div class="flex h-screen">
          <div class="m-auto">
            <h1 class="title is-1">Currently in Maintenance</h1>
          </div>
        </div>>
    </body>
</html>